<div class="search-section">
  <input
    type="text"
    placeholder="Search..."
    (input)="onFilter($event.target.value)"
  />
</div>

<!-- <select id="airline" name="airline">
  @for (flight of flightsData; track $index) {
  <option [value]="flight.airline_name" (click)="onFilter()">{{flight.airline_name}}</option>
  }
</select> -->

<table>
  <caption>
    <div class="caption-section">
      <span>Total flights: {{ totalItems }}</span>
      <span>Current page: {{ page + 1 }}</span>
      <div class="pagination-buttons">
        <button (click)="onPrevPage()" [disabled]="!page">Prev</button>
        <button (click)="onNextPage()">Next</button>
      </div>
    </div>
  </caption>
  <thead>
    <tr>
      @for (headerItem of headerItems; track $index) {
      <th scope="col" (click)="onSort(headerItem.sortField)">
        {{headerItem.label}} <fa-icon [icon]="faSort" />
      </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (flight of flightsData; track $index) {
    <tr>
      <th scope="row">{{flight.airline_name}}</th>
      <td>{{flight.arrival_airport}}</td>
      <td>{{flight.arrival_city}}</td>
      <td>{{flight.departure_airport}}</td>
      <td>{{flight.departure_city}}</td>
      <td>{{flight.flight_duration_hours}} hours</td>
      <td>{{flight.flight_number}}</td>
    </tr>
    }
  </tbody>
  <tfoot>
    <tr></tr>
  </tfoot>
</table>
